<html lang="en">

<head>
	<meta charset="UTF-8">
	<!-- 不允许放大 -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- 引入样式文件 -->
	<!-- <link rel="manifest" :href="manifestPath"> -->
	<link rel="stylesheet" href="css/fonts/Roboto">

	<link rel="stylesheet" href="css/modal.css" />
	<link rel="stylesheet" href="css/fonts/style.css" />
	<link rel="stylesheet" href="css/dark_theme.css" />
	<link rel="stylesheet" href="css/style.css" />

	<style>
		.program__interaction {
			top: 3px;
		}

		span,
		a {
			-webkit-user-select: none;
			/* Safari */
			-moz-user-select: none;
			/* Firefox */
			-ms-user-select: none;
			/* IE10+/Edge */
			user-select: none;
			/* Standard syntax */
		}


		#overlay {
			z-index: 2;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			display: flex;
			align-items: center;
			justify-content: center;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.5s, visibility 0.5s;
		}

		#overlay img {
			max-width: 80%;
			max-height: 80%;
			transition: transform 0.5s;
		}

		#overlay.show {
			opacity: 1;
			visibility: visible;
		}

		#overlay.show img {
			transform: scale(1.05);
		}
	</style>

	<script src="js/vue@3.4.27.js" rel="external nofollow"></script>
	<script src="js/request.js"></script>
	<script src="js/fp.min.js"></script>
	<link rel="stylesheet" href="css/install.css" />

	<script src="https://unpkg.com/vconsole@latest/dist/vconsole.min.js"></script>

	<script>
		// var vConsole = new window.VConsole({
		//     theme: 'dark'
		// });
	</script>


</head>
<body>
	<div id="app" class="wrapper">
		
		<div class="alert-box" v-if="showDisabedAlert">
			<div class="close-btn" @click="showDisabedAlert = false">
				<div>
					<img src="images/btn-close.svg" />
				</div>
			</div>
			<div class="content"><p>{{showDisabedAlertString}}</p></div>
		</div>
	


		<div id="overlay" class="hidden">
			<img src="./images/home.png" alt="示例图片" id="image">
		</div>
	
		<button id="installBtn2" @click="installConfirmInstall()"></button>
		<div class="header">
			<div class="header__container"></div>
		</div>
	
		<!-- install button Screenshot -->
		<div class="program">
			<div class="container">
				<div :class="['program__container',{'collumn': windowWidth > 560 && !installOpen}]">
					<div class="program__left">
						<div class="program__left-top">
							<div class="program-logo">
								<img :src="appInfo.image" :alt="appInfo.appName" id="logotype"
									 :class="[{'transform': installing}]">
								<div class="showbox" v-show="false" style="opacity: 1;">
									<div class="loader"
										 :style="{ 'opacity' : waitIndex === 0 || waitIndex === 4 ? 1 : 0}">
										<svg class="circular" viewBox="25 25 50 50">
											<circle class="path" cx="50" cy="50" r="20" fill="none"
													stroke-width="1" stroke-miterlimit="10"></circle>
										</svg>
									</div>
									<div :class="['svg-item',{'none': waitIndex === 0 || waitIndex === 4}]">
										<svg width="100%" height="100%" viewBox="0 0 40 40" class="donut rotate">
											<circle class="donut-hole" cx="20" cy="20" r="15.91549430918954"
													fill="#fff"></circle>
											<circle class="donut-ring" cx="20" cy="20" r="15.91549430918954"
													fill="transparent" stroke-width="1"></circle>
											<circle class="donut-segment donut-segment-2" cx="20" cy="20"
													r="15.91549430918954" fill="transparent" stroke-width="1.5"
													stroke-dasharray="" stroke-dashoffset="25"
													:style="{'stroke-dasharray': rotate[waitIndex] }"></circle>
										</svg>
									</div>
								</div>
							</div>
							<div class="program-info">
								<h1 class="program-name c-black">{{appInfo.appName}}</h1>
								<div :class="['program-info-first',{'none': installing}]">
									<span class="advertising c-text">{{appInfo.advertising}}</span>
									<!-- <span class="program-company primary-text">{{appInfo.company}}</span> -->
								</div>
								<div :class="['program-info-instal',{'open': installing}]">
									<div class="program-wait">
										<span class="wait" v-if="waitIndex === 0">Wait...</span>
										<span v-else-if="waitIndex === 1">33% of {{appInfo.size}}
														МB</span>
										<span v-else-if="waitIndex === 2">72% of {{appInfo.size}}
														МB</span>
										<span v-else-if="waitIndex === 3">99% of {{appInfo.size}}
														МB</span>
										<span v-else>Installation...</span>
									</div>
									<span class="program-verified">Verified with Play Protect</span>
								</div>
							</div>
						</div>
						<div class="program-scroll-box">
							<div class="program__bottom">
								<div class="program__left-bottom">
									<div class="program__reviews">
													<span class="program__reviews-rating c-black">
														{{appInfo.score}}
														<img src="images/star_black_24dp.png" alt="Sloto Zen Rating">
													</span>
										<span class="program-reviews c-text">
														{{convertToKMNotation(appInfo.reviews)}} reviews </span>
									</div>
									<div class="program__downloads">
										<div class="program__downloads-img">
											<img src="images/download.png" alt="Sloto Zen Count Downloads">
										</div>
										<span class="c-text">{{appInfo.size}} МB</span>
									</div>
									<div class="program__interaction">
										<div class="program__interaction-img c-black">
														<span
																style="margin: 0 auto;">{{appInfo.age==0?"E":appInfo.age+'+'}}</span>
										</div>
										<span
												class="c-text">{{appInfo.age==0?"Everyone ":'Rated for'+appInfo.age+'+'}}<i
												class="_icon-info_black"></i></span>
									</div>
									<div class="program__interaction">
										<span class="c-black">{{convertToKMNotation(appInfo.downloads)}}</span>
										<span class="c-text">Downloads</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div v-if="installOpen" class="program-btn">
						<div class="lds-ring" id="loader-install" style="display: none;">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<a class="btn program-cancel">
							<span class="pr-cancel primary-text">Cancel</span>
							<span class="pr-delete primary-text">Delete</span>
						</a>
						<div @click="installApp()" id="pr-install"
							 :style="{'display': 'flex','background': installBtnBgm}"
							 class="btn program-install primary-back true-install">
										<span style="display: block;" class="pr-install c-white"
											  id="install-button">Install</span>
							<a class="pr-open" id="pr-open" aria-label="Open PWA Sloto Zen" target="_blank"
							   href="#">Open</a>
						</div>
					</div>
					<div v-else class="program-btn click">
						<div class="lds-ring" id="loader-install" style="display: none;">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<a class="btn program-cancel">
							<span class="pr-cancel primary-text" style="display: none;">Cancel</span>
							<span class="pr-delete primary-text" style="display: flex;">Delete</span>
						</a>
						<div id="pr-install"
							 :style="{'display': 'flex', 'background': installing ? 'var(--gray_back)' : 'var(--primary_back)','background': openBtnBgm}"
							 class="btn primary-back program-open">
										<span style="display:none;" class="pr-install c-white"
											  id="install-button">Install</span>
							<a class="pr-open" id="pr-open" aria-label="Open PWA Rocket Play Casino"
							   target="_blank" @click="openPwa()"
							   :style="{'display': 'flex', 'color': 'var(--white_text)'}">Open</a>
						</div>
					</div>
	
				</div>
	
				<div class="program__images-box">
					<div class="program__images">
						<a v-for="item in appInfo.screenshot" :href="item"
						   :aria-label="`${appInfo.appName} Screenshot`" data-fancybox="gallery">
							<img :src="item" :alt="`${appInfo.appName} Screenshot`">
						</a>
					</div>
				</div>
			</div>
	
		</div>
	
		<!-- description -->
		<div class="description">
			<div class="container">
				<div class="description__container">
					<div class="title__top c-black">
						<div class="description__title title">
							<h2>About this app</h2>
						</div>
						<!-- <a v-show="false" class="description__more-btn more-btn" href="/content"
					aria-label="Sloto Zen More Information">
					<i class="_icon-arrow_forward stp"></i>
				</a> -->
					</div>
					<div class="description__text">
						<p class="c-text" v-html="appInfo.desc"></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
	
<script>
	// 在 #app 标签下渲染一个按钮组件
	const App = {
		data() {
			return {
				showDisabedAlertString: '下载次数已达上限',
				showDisabedAlert: false,
				urlStr: null, //下载页用户自定义参数
				staleDated: false, //应用套餐是否过期
				urlParams: '',
				sendInstallReport: false, //已经发送了安装统计请求
				checkIsInstallInterval: null,
				currentInstall: false, //是否为当前页安装
				manifestPath: '',
				installBtnBgm: '#e3e3e3',
				openBtnBgm: '#0b57cf',
				clientId: null, //客户端id
				appId: null, //应用id
				isDisabled: true, //是否禁用
				appInfo: {
					channelId: null, //渠道id
					screenshot: [],
					image: '', //应用图标
					appName: 'app Name',
					company: 'Bro inc.',
					advertising: 'Casino',
					score: '5.0',
					reviews: '123123',
					downloads: '3333',
					age: '10',
					size: '56', //app package size
					desc: 'no desc'
				},
				ratingBarList: [{
					"id": 5,
					width: 90
				},
				{
					"id": 4,
					width: 70
				},
				{
					"id": 3,
					width: 50
				},
				{
					"id": 2,
					width: 30
				},
				{
					"id": 1,
					width: 8
				}
				], //评级
				ApiUrl: "",
				baseUrl: "",
				// baseUrl: "https://pwago-tool.ycsoftwares.com/",
				pushServerPublicKey: "",
				isSubscribed: false, //订阅通知
				installEnd: false, //是否安装结束
				rotate: [
					'0, 100',
					'30, 70',
					'72, 28',
					'99, 1',
					'100, 0',
				], //转圈加载动画
				waitIndex: 0, //等待显示下标
				installing: false, //安装中
				windowWidth: window.innerWidth,
				installStart: false, //开始安装
				installOpen: true, //是否显示安装按钮
				isInstall: null, //是否安装
				deferredPrompt: null, // 用来保存事件的变量
				direction: 'rtl',
				openContacts: false,
				drawer: false,
				message: "Hello Element Plus",
			};
		},
		mounted() {
			this.allInit()

			if(this.getBrowserLanguage() !== 'zh-CN'){
				this.showDisabedAlertString = 'The number of downloads reached the upper limit'
			}
		},
		methods: {
			sendInstallReport() {
				this.recordSend(3)
				this.sendInstallReport = true
				setTimeout(() => {
					location.reload()
				}, 1000)
			},
			isPwa() {
				let isPwa = false
				// 判断是不是在pwa中
				if (window.matchMedia("(display-mode: standalone)").matches) {
					console.log("PWA中");
					localStorage.setItem("isInstall", 1);
					isPwa = true
				}
				return isPwa
			},
			getBrowserLanguage() {
				if (navigator.languages != undefined) {
					return navigator.languages[0]; // 返回数组中的第一个语言
				} else {
					return navigator.language; // 如果navigator.languages不可用，则使用navigator.language
				}
			},
			receiveMessage(event) {
				// For Chrome, the origin property is in the event.originalEvent
				// object.
				// 这里不准确，chrome 没有这个属性
				// var origin = event.origin || event.originalEvent.origin;

				console.log('eeeeeeeeeeeeeeee', event)
				var origin = event.origin;
				if (origin !== "http://example.org:8080") return;

				// ...
			},
			async allInit() {
				// document.cookie = "username=John Doe";
				//获取客户端id
				await this.getClientId()

				await this.initData()

				this.staleDated = true
				this.installBtnBgm = '#e3e3e3'
				this.openBtnBgm = '#e3e3e3'
				this.isDisabled = true

				this.showDisabedAlert = true

				//await this.checkAppStatus()

				//打开页面,发送请求，只在第一次访问页面的发送，刷新页面不发送
				// this.recordSend(1) 

				// 判断是不是在pwa中
				if (window.matchMedia("(display-mode: standalone)").matches) {
					console.log("PWA中");
				}
			},
			showAlert(message, duration = 1000 * 60 * 10) {
				var alertBox = document.createElement('div');
				alertBox.classList.add('alert-box');
				alertBox.textContent = message;
				document.body.appendChild(alertBox);

				setTimeout(function () {
					alertBox.classList.add('hide');
					setTimeout(function () {
						document.body.removeChild(alertBox);
					}, 1000); // 等待过渡效果完成后移除元素
				}, duration);
			},
			async checkAppStatus() {
				// if (this.appInfo.channelId == undefined) {
				// 	// 拒绝Promise，表示应用状态不符合要求
				// 	location.href = "./404.html";
				// }

				// 返回一个Promise，这样调用者可以等待请求完成

				let paramsUrl = '/api/v1/get_app_state?app_id=' + this.appId

				if (this.appInfo.channelId) {
					paramsUrl += '&channel_id=' + this.appInfo.channelId
				}
				request(this.baseUrl + paramsUrl, {
					method: "GET",
					// headers: {
					// 	"Content-Type": "application/json",
					// },
				}).then(response => response.json())
					.then(res => {
						let data = res.data;
						console.log('----------------', data)
						if (data.state === 4) {
							// 拒绝Promise，表示应用状态不符合要求
							location.href = "./disabled.html";
						} else if (data.state === 2) {
							location.href = "./disabled.html";
							// 解决Promise，表示应用状态符合要求
							//this.staleDated = true
							//this.installBtnBgm = '#e3e3e3'
							//this.openBtnBgm = '#e3e3e3'
							//this.isDisabled = true
						} else if (data.channel_state === 2) {
							//渠道状态为禁用
							// 解决Promise，表示应用状态符合要求
							this.installBtnBgm = '#e3e3e3'
							this.openBtnBgm = '#e3e3e3'
							this.isDisabled = true
						} else {
							//查询余额
							request(this.baseUrl + '/api/v1/verify_balance?app_id=' + this.appId, {
								method: "GET",
								// headers: {
								// 	"Content-Type": "application/json",
								// },
							}).then(response => response.json())
								.then(res => {
									let data = res.data;
									console.log('----------------', data)
									if (!data.result) {
										this.installBtnBgm = '#e3e3e3'
										this.openBtnBgm = '#e3e3e3'
										this.isDisabled = true
									} else {
										this.openBtnBgm = '#0b57cf'
										this.installBtnBgm = '#0b57cf'
										this.isDisabled = false
									}
								})
						}
					})
			},
			async fnGetFingerrinId() {
				const tempFpId = localStorage.getItem('fpId');
				if (!!tempFpId) {
					return tempFpId
				}
				const fpPromise = await FingerprintJS.load()
				// 获取用户代理信息
				const userAgent = navigator.userAgent;
				// 获取指纹
				try {
					const fp = await fpPromise;
					const result = await fp.get();
					// result.components.user_agent = {
					// 	"value": userAgent,
					// 	"duration": 1
					// }
					const fingerprintId = result.visitorId//FingerprintJS.hashComponents(result.components);
					localStorage.setItem('fpId', fingerprintId)
					return fingerprintId;
				} catch (error) {
					console.error('Error:', error);
					return ''
				}
			},
			async getClientId() {
				// 获取客户端id
				this.clientId = await this.fnGetFingerrinId()
				// let uuid = localStorage.getItem('client_id')
				// if (!uuid) {
				// this.clientId = this.generateUniqueId()
				// 	localStorage.setItem('client_id', this.clientId)
				// } else {
				// 	this.clientId = uuid
				// }
			},
			recordSend(index) {
				//1=进入页面，2=点击安装，3=打开应用，4= 安装成功
				console.log('recordSend')

				let sendData = this.getBrowserInfo()
				sendData.uuid = this.clientId
				sendData.app_id = this.appId
				if (this.appInfo.channelId) {
					sendData.channel_id = this.appInfo.channelId
				}
				sendData.operation_type = index
				sendData.source_url = window.location.href

				request(this.baseUrl + '/api/v1/report', {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
					},
					body: JSON.stringify(sendData),
				}).then(async (response) => {
					console.log("send success", response);
				});
			},
			generateUniqueId() {
				// 生成用户唯一ID
				var uniqueId = Date.now().toString() + Math.random().toString().substr(2, 6);
				return uniqueId;
			},
			getBrowserInfo() {
				// 获取浏览器信息
				var userAgent = navigator.userAgent;
				var browserName = "Unknown";
				var fullVersionString = "Unknown";
				var nameOffset, verOffset;

				// 使用正则表达式来匹配并捕获括号内的内容
				const regex = /\(([^)]+)\)/;
				const match = userAgent.match(regex);

				let systemInfo = "Unknown";
				if (match && match[1]) {
					// 匹配成功，match[1]将包含括号内的内容
					systemInfo = match[1];
					// 如果你想要进一步分割这个字符串以获取单独的组件
					const parts = systemInfo.split('; ').map(part => part.trim());
					// parts[0], parts[1], parts[2]分别对应操作系统、版本和设备型号等信息
				} else {
					console.log('没有匹配到用户代理信息');
				}

				// 按优先级顺序在用户代理字符串中搜索浏览器的名称和版本
				if ((verOffset = userAgent.indexOf("OPR")) != -1 || (verOffset = userAgent.indexOf("Opera")) != -1) {
					browserName = "Opera";
					fullVersionString = userAgent.substring(verOffset + (userAgent.indexOf("OPR") != -1 ? 4 : 6));
				} else if ((verOffset = userAgent.indexOf("Edge")) != -1) {
					browserName = "Microsoft Edge";
					fullVersionString = userAgent.substring(verOffset + 5);
				} else if ((verOffset = userAgent.indexOf("Edg")) != -1) {
					browserName = "Microsoft Edge";
					fullVersionString = userAgent.substring(verOffset + 4);
				} else if ((verOffset = userAgent.indexOf("Chrome")) != -1) {
					browserName = "Chrome";
					fullVersionString = userAgent.substring(verOffset + 7);
				} else if ((verOffset = userAgent.indexOf("Safari")) != -1) {
					browserName = "Safari";
					fullVersionString = userAgent.substring(verOffset + 7);
					if ((verOffset = userAgent.indexOf("Version")) != -1) {
						fullVersionString = userAgent.substring(verOffset + 8);
					}
				} else if ((verOffset = userAgent.indexOf("Firefox")) != -1) {
					browserName = "Firefox";
					fullVersionString = userAgent.substring(verOffset + 8);
				} else if ((verOffset = userAgent.indexOf("MSIE")) != -1) {
					browserName = "Microsoft Internet Explorer";
					fullVersionString = userAgent.substring(verOffset + 5);
				} else if (userAgent.indexOf("Trident/") != -1) {
					browserName = "Microsoft Internet Explorer";
					fullVersionString = userAgent.substring(userAgent.indexOf("rv:") + 3);
				}

				// 截断版本号字符串
				if ((nameOffset = fullVersionString.indexOf(";")) != -1) fullVersionString = fullVersionString
					.substring(0, nameOffset);
				if ((nameOffset = fullVersionString.indexOf(" ")) != -1) fullVersionString = fullVersionString
					.substring(0, nameOffset);

				// 创建包含分辨率、浏览器版本和设备型号的信息对象
				let info = {
					"resolving_power": window.innerWidth + ' x ' + window.innerHeight,
					"browser_version": browserName + ' ' + fullVersionString,
					"machine_model": systemInfo
				}
				return info;
			},
			extractPathSegment(url) {
				// 创建一个URL对象
				const urlObj = new URL(url);

				// 获取pathname（例如：/static-generated/bNoqsrHva75iFBUV/）
				const pathname = urlObj.pathname;

				// 移除尾部的斜杠（如果存在）
				const pathWithoutTrailingSlash = pathname.endsWith('/') ? pathname.slice(0, -1) : pathname;

				// 假设你想要的是从/static-generated/开始的部分
				// 你可以使用split方法来分割字符串，并获取第二个元素（索引为1）
				const segments = pathWithoutTrailingSlash.split('/');
				const startIndex = segments.indexOf('com/') + 2;

				// 如果找到了'static-generated'，则继续提取剩余的部分
				if (startIndex !== -1) {
					// 使用slice方法来获取从'static-generated'开始到末尾的所有部分
					return '/' + segments.slice(startIndex).join('/');
				}
				// 如果没有找到'static-generated'，则返回null或空字符串
				return null;
			},
			getHrefSearchParams() {
				let href = decodeURIComponent(location.href)
				if (href.indexOf('?') === -1) {
					return new URLSearchParams()
				}
				let urlParams = new URLSearchParams(href.substring(href.indexOf('?') + 1));
				return urlParams
			},
			getQueryParamsFromString(url) {
				const queryString = url.split('?')[1]; // 获取?后面的部分
				if (!queryString) return false
				const params = {};
				const pairs = queryString.split('&');

				pairs.forEach(pair => {
					const [key, value] = pair.split('=');
					params[decodeURIComponent(key)] = decodeURIComponent(value || '');
				});
				return params;
			},
			mapToUrlParams(map) {
				const params = new URLSearchParams();
				for (const [key, value] of map.entries()) {
					if (value) {
						params.set(key, value);
					}
				}
				if (params.toString().length > 0) {
					return "?" + params.toString();
				}
				return params.toString();
			},
			//初始化数据
			async initData() {
				let _this = this
				let dataString = localStorage.getItem('disabled-data')

				let data = JSON.parse(dataString)
				// 在这里使用data变量
				console.log('aaaaa=----------', data);

				_this.appId = data.app_id

				_this.pushServerPublicKey = data.pushServerPublicKey
				// _this.baseUrl = data.callback_url
				_this.baseUrl = window.location.protocol + '//' + window.location.host
				_this.apiUrl = data.apiUrl

				if (data.company) {
					_this.appInfo.company = data.company
				}
				if (data.advertising) {
					_this.appInfo.advertising = data.advertising
				}
				if (data.score) {
					_this.appInfo.score = data.score
				}
				if (data.review) {
					_this.appInfo.reviews = data.review
				}
				if (data.downloads) {
					_this.appInfo.downloads = data.downloads
				}
				if (data.age) {
					if (data.age == -1) {
						data.age = 0
					}
					_this.appInfo.age = data.age
				}
				if (data.size) {
					_this.appInfo.size = data.size
				}
				if (data.desc) {
					console.log(data.desc)
					let text = data.desc
					text = text.replace(/\n/g, '<br>');
					// 然后将 text 传递给模板引擎
					_this.appInfo.desc = text
				}

				let appInfoString = localStorage.getItem('disabled-appInfo')

				_this.appInfo = JSON.parse(appInfoString)
			},
			openPwa() {
				// 禁用或者在安装中
				if (this.isDisabled || this.installing) {
					return false
				}
				// this.recordSend(4)

				// 判断是不是在pwa中
				if (this.isInstall == 1 || window.matchMedia("(display-mode: standalone)").matches) {
					console.log("PWA中");
					localStorage.setItem("isInstall", 1);
					this.isInstall = 1
					location.href = "./index2.html" + this.urlParams
				}
			},
			async installApp() {
				console.log('install')

				this.showDisabedAlert = true
				//if (this.isDisabled) {
				//	return false
				//}
				//this.recordSend(2)
			},
			async createNotificationSubscription() {
				let sw = await navigator.serviceWorker.ready;
				console.log('swwww', this.pushServerPublicKey, sw)
				let s = await sw.pushManager.subscribe({
					userVisibleOnly: true,
					applicationServerKey: this.pushServerPublicKey,
				});
				//   console.log("User is subscribed.", s);
				return s;
			},
			async askUserPermission() {
				let r = await Notification.requestPermission();
				this.updateUserConsent(r);
			},
			async updateUserConsent(userConsent) {
				if (userConsent === "granted") {
					console.log("用户允许!!!!");
					let s = await this.createNotificationSubscription();
					console.log("用户订阅了推送通知", JSON.stringify(s));
					/**
					 *
					 * 用户订阅了推送通知 {"endpoint":"https://fcm.googleapis.com/fcm/send/fR33TsJAFl4:APA91bFFA_EldZf4666oxC93gXTuGxn_Klyu01sIhb2Xgseyo_hIQOXg0hp_AB7gXPL5jJ4lUtkkJ0AXAkuUL8p51CPEpmaXhWy7huE7ntGB65MbewylLWcfCVGGkTGX1xUkcfpiLaA1","expirationTime":null,"keys":{"p256dh":"BAQRiivSAO1lwPHGhGwshnITqs2mYyDqgdiiVXbnOrtlbTBxppH5t0DDQ3FrsEMrk-y9xCmZNMp_30yKcs79iWw","auth":"x3ux8pzFMvOpQ9NmwxdkNw"}}
					 *
					 */
					// 检查Service Worker是否注册并准备就绪
					await navigator.serviceWorker.ready;
					// 如果Service Worker已经注册 但是还没有接管页面
					if (!navigator.serviceWorker.controller) {
						location.reload();
						return console.log("Service Worker已经注册但是还没有接管页面");
					} else {
						console.log("Service Worker已经注册并且已经接管页面");
					}
					if (this.isSubscribed) {
						if (navigator.serviceWorker && navigator.serviceWorker.controller) {
							const authValue = JSON.parse(JSON.stringify(s)).keys.auth;
							console.log("authValue", authValue);
							// 发送auth值给Service Worker
							navigator.serviceWorker.controller.postMessage({
								type: "SET_AUTH",
								auth: authValue,
							});
						}
						return console.log("用户已经订阅过了!不需上报服务器");
					}

					let sendData = JSON.parse(JSON.stringify(s));

					sendData['app_id'] = this.appId
					if (this.appInfo.channelId) {
						sendData['channel_id'] = this.appInfo.channelId
					}
					sendData['uuid'] = this.clientId

					sendData['pub_key'] = sendData.keys.p256dh
					sendData['auth'] = sendData.keys.auth

					console.log('send subscribe===============', sendData, JSON.stringify(sendData))
					request(this.baseUrl + '/api/v1/subscriber/create', {
						method: "POST",
						headers: {
							"Content-Type": "application/json",
						},
						body: JSON.stringify(sendData),
					}).then(async (response) => {
						if (!response.ok) {
							throw new Error("Failed to subscribe the user.");
						}
						console.log("用户订阅信息已发送到服务器");
						localStorage.setItem(this.appId + "isSubscribed", 1);
						if (navigator.serviceWorker && navigator.serviceWorker.controller) {
							const authValue = JSON.parse(JSON.stringify(s)).keys.auth;
							console.log("authValue", authValue);
							// 发送auth值给Service Worker
							navigator.serviceWorker.controller.postMessage({
								type: "SET_AUTH",
								auth: authValue,
							});
						}
					});
				} else {
					console.log("用户拒绝!!!!");
				}
			},
			async initServiceWork() {
				this.isInstall = localStorage.getItem(this.appId + "isInstall");
				console.log(this.isInstall)
				const pushNotificationSuported = this.isPushNotificationSupported();
				if (this.isInstall) {
					this.installOpen = false
					// setTimeout(() => {
					// 	location.href = "./index2.html";
					// }, 1000);
				}

				if (pushNotificationSuported) {
					// 注册service worker
					await navigator.serviceWorker.register("./service-worker.js");
					console.log("Service Worker 注册成功");
				}

				// 判断是不是 ios
				if (this.isAppleBrowser()) {
					// 按钮显示
					console.log("用户正在使用苹果浏览器或者在iOS设备上浏览。");
					// installButton.style.display = "flex";
					// btnimg.src = "./images/apple.png";
					// // 尺寸改小
					// btnimg.style.width = "30px";
				} else {
					console.log("用户不是在使用苹果浏览器也不是在iOS设备上浏览。");
				}

			}, //初始化 service work
			isAppleBrowser() {
				const userAgent = window.navigator.userAgent;
				const isSafari = /^((?!chrome|android).)*safari/i.test(userAgent);
				const isIOS = /iPad|iPhone|iPod/.test(userAgent) && !window.MSStream;
				return isSafari || isIOS;
			},
			isPushNotificationSupported() {
				return "serviceWorker" in navigator && "PushManager" in window;
			},
			formatNumberWithSpaces(numberStr) {
				if (typeof numberStr !== 'string' || !/^\d+$/.test(numberStr)) {
					numberStr += ''
					// throw new Error('Input must be a string of digits.');
				}
				let result = '';
				let prevDigit = '';
				for (let i = 0; i < numberStr.length; i++) {
					const currentDigit = numberStr[i];

					// 如果当前数字与前一个数字不同，并且前一个数字不是空字符串（即不是第一个数字），则插入空格
					// if (currentDigit !== prevDigit && prevDigit !== '') {
					if (i > 0 && i % 3 === 0) {
						result += ' ';
					}

					result += currentDigit;
					prevDigit = currentDigit;
				}
				return result;
			},
			getItemStyle(item) {
				return {
					width: item.width + '%'
				};
			},
			convertToKMNotation(number) {
				// 去除可能的数字末尾的逗号或其他非数字字符
				number = parseFloat(number.toString().replace(/[^\d\.]/g, ''));
				if (isNaN(number)) {
					return 'Invalid number';
				}
				// 判断数字范围
				if (number >= 1000000) {
					// M+
					return (number / 1000000).toFixed(1).replace(/\.0$/, '') + 'M+';
				} else if (number >= 1000) {
					// K+
					return (number / 1000).toFixed(1).replace(/\.0$/, '') + 'K+';
				} else {
					// 直接返回数字
					return number.toString();
				}
			},
			handleClose(done) {
				this.$confirm('确认关闭？')
					.then((_) => {
						done()
					})
					.catch((_) => {
					})
			},
			aa() {
				alert(123123)
			}
		}
	};
	const app = Vue.createApp(App);
	app.mount('#app');
</script>

</html>